.sidebar {
  box-shadow: none;
}
.wobbleTransparentBK {
  background-color: rgba(0,0,0,0) !important;
}
.wobbleTransparentLine {
  border-color: rgba(0,0,0,0) !important;
}
#header,
#footer {
  background-color: #f5f5f5;
}
#sidebar,
header {
  z-index: 1 !important;
}
.main {
  padding-bottom: 200px;
}
